@media screen and (min-width: 100px) and (max-width: 250px) {
.marketing h2.cb {
 background:#358cce;
 background-image:none;
}
.marketing h2.rc {
 background:#358cce;
 background-image:none;
}
.marketing h2.tb {
 background:#358cce;
 background-image:none;
}
.carousel-control.left {
 left: 14%;
 right: auto;
 display:none;
}
.carousel-control.right {
 right: 14%;
 left: auto;
 display:none;
}
}
 @media screen and (max-width: 600px) {
 @-ms-viewport {
 width: 320px;
}
.carousel-control.left {
 left: 14%;
 right: auto;
 display:none;
}
.carousel-control.right {
 right: 14%;
 left: auto;
 display:none;
}
.marketing .col-lg-4 h2 {
 margin-top:4px;
}
.marketing .col-lg-4 {
 padding-left:4px;
 padding-right:4px;
 margin-bottom:10px;
 padding-bottom:20px;
 border-bottom:1px solid #358CCE;
}
.marketing .col-lg-4.last
{
	margin-bottom:0;
	pading-bottom:0;
	border-bottom:none;
}
.row
{
	margin-left:0;
	margin-right:0;
	padding:0 0 0 0;
}
}
 @media (max-width: 300px) {
.foot_links nav section {
 float:left;
 width:34%;
 margin:0 21px;
}
}



/*********** COMMON MEDUA QUERURIES   **********/
/*** 320 x 480 Carousel  ***/
@media screen and (min-width: 100px) and (max-width: 480px) {
.carousel-inner > .item > img {
 height: 255px;
 left: -328px;
 margin: 0 auto;
 position: relative;
 top: 0px !important;
}
.carousel .item {
 height: 310px;
 overflow-x: hidden;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
 max-width:none;
}
.foot_links nav section h3 {
 color: #358CCE;

 font-weight: bold;
 margin-bottom:0px;
}
.foot_links nav section ul li a {
 color: #848C94;
 line-height:24px;
 font-weight: normal;
}
.form-group {
 margin-bottom: 2px !important;
}
label {

 margin-bottom:0px !important;
}
.clr {
 height:4px !important;
}
.carousel .item {
 height:215px !important;
}
}