/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  
}

/* Declare heights because of positioning of img element */
.carousel .item {
  /*height: 500px;*/
  height:auto;
}
.carousel-inner > .item > img {
/*  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;*/
  margin:0 auto;
  position:relative;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: left;

}
.marketing .col-lg-4 p {
  padding: 0;
  border:none;
  font-size:14px;
  font-weight:normal;
  color:#757575;
	
 }
.marketing h2 {
  font-weight: bold;
  font-size:17px;
  color:#358CCE;

  line-height:32px;
  padding:0;
  margin-bottom:0px;
}
.marketing h2 a {
  font-weight: bold;
  font-size:17px;
  color:#358CCE;
}
.marketing h2.cb
{
   /*background:url(../img/cb.jpg) center right no-repeat #358cce;*/
   background:#358cce;   
}
.marketing h2.rc
{
   /*background:url(../img/rc.jpg) center right no-repeat #358cce;*/
   background:#358cce;   
}
.marketing h2.tb
{
   /*background:url(../img/tb.jpg) center right no-repeat #358cce;*/
   background:#358cce;   
}

.marketing .col-lg-4 p {
  padding:0;
  border:none;
  font-size:14px;
  font-weight:normal;
  color:#757575;
  margin:0 0 5px 0;
}
.marketing .col-lg-4 p b {
	color:#153c5d;
}
.marketing .col-lg-4 p b a
{
	color:#2A8A15;	
}
.marketing .col-lg-4 p span.sign_in {
  font-weight: bold;
  font-size:17px;
  color:#358CCE;
}

.marketing .col-lg-4 p a.sign_in {
  font-weight: bold;
  font-size:17px;
  color:#358CCE;
}
.marketing .col-lg-4 p a.sign_in:hover
{
	text-decoration:none;
}

.marketing .col-lg-4 form {
padding:0;
border: none;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



