@media screen and (min-width: 100px) and (max-width: 250px) {
.marketing h2.cb {
 background:#358cce;
 background-image:none;
}
.marketing h2.rc {
 background:#358cce;
 background-image:none;
}
.marketing h2.tb {
 background:#358cce;
 background-image:none;
}
.carousel-control.left {
 left: 14%;
 right: auto;
 display:none;
}
.carousel-control.right {
 right: 14%;
 left: auto;
 display:none;
}
}
 @media screen and (max-width: 400px) {
 @-ms-viewport {
 width: 320px;
}
.carousel-control.left {
 left: 14%;
 right: auto;
 display:none;
}
.carousel-control.right {
 right: 14%;
 left: auto;
 display:none;
}
.marketing .col-lg-4 h2 {
 margin-top:4px;
}
.marketing .col-lg-4 {
 padding-left:4px;
 padding-right:4px;
}
}
 @media (max-width: 300px) {
.foot_links nav section {
 float:left;
 width:34%;
 margin:0 21px;
}
}



/*********** COMMON MEDUA QUERURIES   **********/
/*** 320 x 480 Carousel  ***/
@media screen and (min-width: 100px) and (max-width: 480px) {
.carousel-inner > .item > img {
 height: 255px;
 left: -328px;
 margin: 0 auto;
 position: relative;
 top: 0px !important;
}
.carousel .item {
 height: 310px;
 overflow-x: hidden;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
 max-width:none;
}
.foot_links nav section h3 {
 color: #358CCE;
 font-size: 11px;
 font-weight: bold;
 margin-bottom:0px;
}
.foot_links nav section ul li a {
 color: #848C94;
 font-size: 10px;
 font-weight: normal;
}
.marketing h2 {
 color: #FFFFFF;
 font-size: 12px !important;
 font-weight: bold;
 line-height: 24px !important;
 margin-bottom: 0;
 padding: 0 14px;
}
.form-group {
 margin-bottom: 2px !important;
}
label {
 font-size: 11px !important;
 margin-bottom:0px !important;
}
.marketing .col-lg-4 p {
 font-size:12px !important;
}
.clr {
 height:4px !important;
}
.carousel .item {
 height:215px !important;
}
}





/*** CAROUSEL  ***/
@media screen and (min-width: 120px) and (max-width: 760px) {
#slider {
    width: 100% !important;
}
.carousel-inner {
    overflow: hidden;
    position: relative;
    width: 100% !important;
}
.carousel {
    margin-bottom: 0;
    margin-top: -37px;
}
.carousel .item {
    height: 280px;
    width: 100% !important;
}
#slider-thumbs {
    position: static;
    right: 0;
    width: 100%
}
ul.thumbnails {
    float: left;
    padding: 0 !important;
    position: relative;
    top: 0px;
    width: 100%;
	margin:0;
}
ul.thumbnails li.t1
{
	margin:0 !important;
}
ul.thumbnails li.t2
{
	margin:0 !important;
}
ul.thumbnails li.t4
{
	margin:0 !important;
}
ul.thumbnails li
{
	width:50% !important;
}
ul.thumbnails li img.visa {
    position: absolute;
    right: 5px;
    top: 5px;
	width:13px
}
ul.thumbnails li img.icn {
    float: left;
    margin: 5px 10px 0 11px;
    position: static;
    width: 52px;	
	display:none;
}
ul.thumbnails li a {
    color: #FFFFFF;
    cursor: pointer;
    line-height: normal;
    text-align: center;
	font-size:14px;
	font-weight:bold;
	line-height:58px;
	text-transform:uppercase
}
.thumbnail {
     height: 63px !important;
 }
.thumbnail1 {
     height: 63px !important;
 }
.thumbnail2{
     height: 63px !important;
 } 
.thumbnail3{
     height: 63px !important;
 } 
}

@media screen and (min-width: 120px) and (max-width: 360px) {
ul.thumbnails li
{
	width:100% !important;
}
.thumbnail {
     height: 33px !important;
 }
.thumbnail1 {
     height: 33px !important;
 }
.thumbnail2{
     height: 33px !important;
 } 
.thumbnail3{
     height: 33px !important;
 } 
 ul.thumbnails li img.visa
 {
	 display:none;
 }
 ul.thumbnails li a
 {
	 line-height:28px !important;
 }
}